html, body {
  font-family: sans-serif;
  background: #1d2a33 url('../stylesheets/images/bg.jpg') repeat;
  background-image: 100%;
  height: 100%;
  margin: 0;
  color: white;
  font-size: 20px;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
 }

 .wrapper{
   min-height: 100%;
   position: relative;
   margin: 30px 10px;
 }

 .center-header {
  text-align: center;
 }

/* nav styles */

header a {
  color: white;
}

header a:hover {
  color: black;
}

h1 {
  text-align: center;
  background-color: lightblue;
  margin: 0;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-class { 
  background-color: lightgray;
  padding: 15px 0px 20px;
  font-size: 20px;
  display: flex;
  justify-content: center;
}

nav-item a {
  display: inline-block;
  padding: 15px;
  color: white;
}

nav-item a:hover {
  color: black;
}

nav-item a:last-child{
  justify-content: flex-end;
}

 
/* tabble style */

.classtable {
  table-layout: fixed;
  width: 98%;
  margin: 8px;
  border: 5px solid white;
  color: #000;
  font-size: 16px;
  text-align: center;
}

.classtable th:not(:first-child),
.classtable td:first-child  {
  padding: 12px 0px;
  text-align: center;
  background-color: lightblue;
  color: #000;
}

.classtable tr th:first-child {
  width: 45px;
  background-color: lightblue;
}

.classtable td:hover {
  background-color: lightblue;
}

.classtable tr:nth-child(even){
  background-color: #f2f2f2;
}

.classtable tr:nth-child(odd){
  background-color: #e4d2d2;
}

.classtable td:not(:first-child) {
  border: 1px solid black;
} 

/* booking page */

.form-block{
  display: flex; 
  margin-bottom: 35px;
}

.move {
  border-width: auto;
  display: block;
}


.form-space{
  display: block;
  color: red;
  font-size: 35px;
  padding: 15px;
}

.form-button{
  color: red;
  margin-left: 20px;
  height: 35px;
  font-size: 25px;
}

::placeholder {
  color: red;
  opacity: .5;
}

/* login */
.form1{
  color: red;
  display: block;
  padding: 4px;
  font-size: 35px;
}


 .button1{
  margin: auto;
  margin-top: 10px;
  color: blue; 
}



/* footer styles */

footer {
  color: white;
  width: 100%;
  position: relative;
  bottom: 0;
  background-color: lightgray;;
  margin-top: 20px;
}

footer ul {
  text-align: center; 
  margin: 0;
  list-style-type: none;
}

footer ul li {
  padding: 2.5px 0;
}