html, body {
  font-family: sans-serif;
}

.nav-class a {
  padding: 5px;
}

.classtable {
  table-layout: fixed;
  width: 98%;
  margin: 8px;
}

.classtable th:not(:first-child),
.classtable td:first-child  {
  padding: 12px 0px;
  text-align: center;
  background-color: lightblue;
  color: #000;
}

.classtable tr th:first-child {
  width: 20px;
}

.classtable td:hover {
  background-color: lightblue;
}

.classtable tr:nth-child(even){
  background-color: #f2f2f2;
}

.classtable td:not(:first-child) {
  border: 1px solid black;
} 