
html, body {
  font-family: sans-serif;
}

.nav-class a {
  padding: 5px;
}

table {
  table-layout: fixed;
  width: 98%;
  margin: 8px;
}

table th:not(:first-child) {
  padding: 12px 0px;
  text-align: center;
  background-color: lightblue;
  color: white;
}

table tr th:first-child {
  width: 20px;
}

table td:first-child {
  padding: 12px 0px;
  text-align: center;
  background-color: lightblue;
  color: white;
}