<p>Working out should be on your terms because life is busy enough and your time is precious. So we’ve designed 
a gym for people like you who want to get results without spending hours and hours at the gym. 
Also, to keep it simple and convenient to hit the gym you can use over 100 MaceFitness gyms, 24/7 across the world.</p>

<p>While most gyms will lock you into a long contract, we know that life changes and sometimes your workout routine needs to be flexible too. 
Our Freedom Direct Debit membership gives you the flexibility of no lock-in contracts – which means you can stay with us because you want to, not because you have to.</p>

<p>Our purpose is to inspire you to live a better life, so you can create your edge and run with it, be bold and back yourself, keep moving forward and ultimately live life on your terms.</p>