h1
  a(href='/') Mace Fitness
nav.nav-class
  nav-item
    a(href='/') Home
  nav-item
    a(href='/contacts') Contacts
  nav-item
    a(href='/timetable') Time Table
  nav-item
    a(href='/book') Bookings
  nav-item
    a(href="/login") Login