extends layout.pug

block content
  h1 Book An Appointment
  form(action="/book" method="post")
    label(for="firstname") Class Name:
      input(type="text" placeholder='e.g. "Boxing"'  name="firstname")
    label(for="day") Day:
      select(name="day")
        each dayName, day in days
          option(value=day) #{dayName}
    label(for="hour") Time:
      select(name="hour")
        each hour in hours
          option(value=hour) #{hour}
    button(type="submit") Book class