doctype html
html(lang="en")
  head
    title Mace Fitness | #{title}
    link(rel='stylesheet' type='text/css' href='/stylesheets/styles.css')
  body
    header
      include includes/nav
    main.wrapper
      block content
    footer.footer
      ul
        li Mace Fitnes&reg;. 
        li The only gym you'll ever need.
    block scripts