doctype html
html(lang="en")
  head
    title Mace Fitness
    link(rel='stylesheet' type='text/css' href='/stylesheets/styles.css')
  body
    header
      include includes/nav
    main
      block content
    footer
      p The only gym you'll ever need.
