extends layout.pug

block content
  h2 Log In
  .form-block
    form.move(action='/login' method='POST')
      label.form1(for='email') Email:
        input(type='text' id='email' placeholder='email' name='email')
      label.form1(for='password') Password:
        input(type='password' id='password' placeholder='password' name='password')
      button.form1.button1(type='submit') Log in        

