extends layout.pug

block content
  h2 Log In
  form(action='/login' method='POST')
    label(for='email') Email:
      input.form-space(type='text' id='email' placeholder='email' name='email')
    label(for='password') Password:
      input.form-space(type='password' id='password' placeholder='password' name='password')
    button(type='submit') Log in        

