extends layout.pug
    
block content
  - let hours = openingTime;
  table
    tr
      th
      each day in days
        th= day
      while hours <= closingTime
        tr
          td= hours++
          each day in days
            td 