extends layout.pug

block content
  table.classtable
    tr
      th
      each day in days
        th= day
      each hour in hours
            tr
              td= hour + ':00'
              each dayName, day in days
                td 
                 - let appointment = appointments.find((appointment) => appointment.time === hour && appointment.day === day)
                 - console.log(appointment)
                 = appointment ? appointment.name : null
