extends layout.pug

block content
  table.classtable
    tr
      th
      each day in days
        th= day
      - for(let hours = openingTime; hours <= closingTime; hours++) {
            tr
              td= hours + ':00'
              each dayName, day in days
                td 
                 - let appointment = appointments.find((appointment) => appointment.time === hours && appointment.day === day)
                 = appointment ? appointment.name : null
      - } 