extends layout.pug
    
block content
  table
    tr
      each day in ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
        th= day
    tr
    - let hours = 24;
      while hours > 6 && < 21
        li= hours++   
    

